.navigation_user_area__button {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 5px;
}

.navigation_user_area__button_dropdown {
  border: none;
  outline: none;
  background: none;
  position: relative;
}

.navigation_user_area__image_container {
  cursor: pointer;
}

.navigation_user_area__dropdown {
  width: 150px;
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 53px;
  right: 0;
  background-color: var(--color-primary);
  border-radius: 8px;
  overflow: hidden;
}

.navigation_user_area__dropdown > * {
  padding: 1em 1.3em;
}
