.user_avatar {
  --size: 32px;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(235, 235, 235);
}

.user_avatar--big {
  --size: 48px;
}

.user_avatar--small {
  --size: 16px;
}

.user_avatar--extra_big {
  --size: 200px;
}

.user_avatar__image {
  width: inherit;
  height: inherit;
}
