.navigation_bar {
  width: 100%;
  height: var(--nav-height);
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.navigation_bar__content_right {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 3em;
  align-items: center;
}

.navigation_bar__button {
  width: 130px;
}
