.title {
  width: max-content;
  font-weight: bold;
  color: var(--color-primary);
}

.title__small {
  font-size: 15px;
}

.title__normal {
  font-size: 18px;
}

.title__big {
  font-size: 22px;
}

.title__extra_big {
  font-size: 25px;
}

.title__ultra_big {
  font-size: 2.5em;
}
