@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --color-green: #16a86e;
  --color-green-b: #35e49e;
  --color-green-c: #32f5a7;
  --color-fucsia: #a8250b;
  --color-fucsia-b: #f52800;

  --nav-height: 56px;
  --footer-height: 80px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
