.container {
  width: 360px;
  margin: 3em auto;
}

.title_container {
  padding: 2.5em 0;
  text-align: center;
}

.controls_container {
  display: grid;
  row-gap: 1.5em;
}

.back_icon_float {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2em;
}
