.container_limit {
  width: 80%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 5em;
}

.container_spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
