.nav_option {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 5px;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  color: rgb(108, 108, 124);
}

.nav_option:hover {
  color: #fff;
}

.nav_option__icon {
  line-height: 0;
}
